
{{#T 'Page'}}
<h2>Demo Components</h2>
    {{#tmplit 'Columns' 'Inputs' }}
        {{tmplit 'Led' "Led"}}
        {{tmplit 'Text' "TextInput" type='input'}}
        {{tmplit 'Numeric' "NumericInput" type='input'}}
        {{tmplit 'Button' 'Set Button' buttonType='set'}}
        {{tmplit 'Button' 'Toggle Button' buttonType='toggle'}}
        {{tmplit 'Button' 'Momentary Button' buttonType='momentary' }}
        {{tmplit 'Led' "side=right" side="right" }}
        {{tmplit 'Led' "side=middle" side="middle" }}
        {{tmplit 'Led' "side=left" side="left" }}    
        <div>mydiv</div>
        {{#tmplit 'Columns' 'Test Elements' style="grid-column: span 3;" }}
            {{tmplit 'Button' 'Set Power' class='btn-primary' style="color:red" data-var-name="demo:test.command"}}
            {{tmplit 'Button' 'Toggle Power' buttonType='toggle'  class='btn-danger' data-var-name="demo:test.command"}}
            {{tmplit 'Button' 'Momentary Power' buttonType='momentary' class='btn-warning' data-var-name="demo:test.command"}}
            {{#tmplit 'Led' data-var-name="demo:test.command" }}
                <h3>
                    Home
                </h3>
            {{/tmplit}}
            {{#tmplit 'Led' data-var-name="demo:test.command" buttonType='toggle' buttonVarName='demo:test.command' }}
            (Led Pv!=Button Pv)
            {{/tmplit}}
            {{#tmplit 'Led' buttonType='toggle' data-var-name='demo:test.command' }}
            (Led Pv==Button Pv)
            {{/tmplit}}
            {{tmplit 'Numeric' 'Numeric Input' type='input' data-var-name="demo:test.command"}}
            {{tmplit 'Numeric' 'Numeric Input' type='input' data-var-name="demo:test.slider"}}
            {{tmplit 'Text' 'Text Input' type='input' data-var-name="gMotorBasic[0].OUT.State.PowerOn"}}
        {{/tmplit}}
    {{/tmplit}}                
    {{#tmplit 'Columns' 'Sliders in a centered grid' centerItems=1}}
        {{#tmplit 'Slider' '0' data-var-name="demo:test.slider" min=-10 max= 10}}
            {{tmplit 'Numeric' type='input' data-var-name="demo:test.slider" style="width:100px; margin-left:-30px;bottom:-150px;"}}
        {{/tmplit}}
        {{tmplit 'Slider' style='height:200px;' data-var-name="demo:test.slider"}}
        {{tmplit 'Slider' style='height:100px;width:50px;' data-var-name="demo:test.slider"}}
        {{tmplit 'Slider' direction=1 data-var-name="demo:test.slider"}}
        {{#tmplit 'Slider' style='height:100px;width:300px;grid-column:span 2' direction=1 data-var-name="demo:test.slider"}}
        {{tmplit 'Numeric' type='input' data-var-name="demo:test.slider" style="width:100px;left:100px;top:30px; "}}
        {{/tmplit}}
        {{#tmplit 'Slider' style='height:30px;width:100%;grid-column:span 3' direction=1 data-var-name="demo:test.slider"}}
        {{/tmplit}}
    {{/tmplit}}
    {{#tmplit 'Columns' 'ValueUpDown' }}

    {{T 'ValueUpDown' 1 data-var-name="demo:test.slider" buttonStyle='padding:10px' inputStyle="width:50px" }}
    {{T 'ValueUpDown'  data-var-name="demo:test.slider" buttonStyle='padding:20px' inputStyle="width:50px"}}
    {{T 'ValueUpDown'  data-var-name="demo:test.slider" buttonStyle='padding:30px' inputStyle="width:200px"}}
    {{#T 'ValueUpDown' 1 data-var-name="demo:test.slider" }}
    <div> </div>
    {{/T}}
    {{/tmplit}}
        <h3>Dropdowns</h3>
    {{#tmplit 'Columns' maxColumns=4}}
    <h3>Empty Dropdown</h3>
    {{tmplit 'Dropdown'}}
    <h3>Non Selectable Options</h3>
    {{#tmplit 'Dropdown'}}
    <dropdown>
        <div>Not Option</div>
        <div class="option">Option 1</div>
        <div>Not Option</div>
        <div class="option">Option 2</div>
        <div>Not Option</div>
        <div class="option">Option 3</div>
    </dropdown>
    {{/tmplit}}
    <h3>Table based</h3>
    {{#tmplit 'DropdownTable'}}
    <options>
        <div>Option many :!</div>
        <div>Option many ::</div>
        <div>Option many :)</div>
        <div>Option many :(</div>
    </options>
    <option>
        <div>Individual Option 1</div>
    </option>
    <option>
        <div>Individual Option 2</div>
    </option>
    <options>
        {{#repeat 4}}
        <div>Repeat {{@index}}</div>
        {{/repeat}}
    </options>
    {{/tmplit}}
    <h3>Custom Field</h3>
    {{#tmplit 'Dropdown'}}
    <dropdown>
        <div class="option">Option 1</div>
        <div class="option">Option 2</div>
        <div class="option">Option 3</div>
    </dropdown>
    <field>
        <div style="background-color: cadetblue;"><span class="selected-item-text">Remove</span><span> [units]</span></div>
    </field>
    {{/tmplit}}
    {{/tmplit}}
    {{#tmplit 'MultiSelect' maxColumns=10 data-var-name="demo:test.slider"}}
    <options>
        <div>Option many :!</div>
        <div>Option many ::</div>
        <div>Option many :)</div>
        <div>Option many :(</div>
    </options>
    <option data-value="4.5">
        <div>data-value=4.5</div>
    </option>
    <option>
        <div>Individual Option 2</div>
    </option>
    <options>
        {{#repeat 4}}
        <div>Repeat {{@index}}</div>
        {{/repeat}}
    </options>
    {{/tmplit}}

    {{#tmplit 'MultiSelect' maxColumns=10 data-var-name="demo:test.slider"}}
    <options>
        <div>Option many :1</div>
        <div>Option many :2</div>
        <div>Option many :3</div>
        <div>Option many :4</div>
    </options>
    <option>
        <div>Individual Option 1</div>
    </option>
    <option>
        <div>Individual Option 2</div>
    </option>
    <options>
        {{#repeat 4}}
        <div>Repeat {{@index}}</div>
        {{/repeat}}
    </options>
    {{/tmplit}}

    {{#tmplit 'Columns' 'ValueUpDown in a centered grid' centerItems=1}}
        {{T 'ValueUpDown' 1 data-var-name="demo:test.slider" buttonStyle='padding:10px' }}
        {{T 'ValueUpDown'  data-var-name="demo:test.slider" buttonStyle='padding:20px' }}
        {{T 'ValueUpDown'  data-var-name="demo:test.slider" buttonStyle='padding:30px' }}
        {{T 'ValueUpDown' 1 }}
        {{#T 'ValueUpDown' 1 data-var-name="demo:test.slider" }}
        <span>No Display!</span>
        {{/T}}
    {{/tmplit}}
    <h3>Columns</h3>
    <h4>Std</h4>
    {{#tmplit 'Columns'}}
        {{tmplit 'Led' "Input1"}}
        {{tmplit 'Led' "Input2"}}
        {{tmplit 'Led' "Input3"}}
        {{tmplit 'Led' "Input4"}}
        {{tmplit 'Led' "Input5"}}
        {{tmplit 'Led' "Input6"}}
    {{/tmplit}}

    {{#tmplit 'Columns' maxColumns=2}}
        {{#tmplit 'Columns' 'Box Title 1' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
            {{tmplit 'Led' "Input3"}}
            {{tmplit 'Led' "Input4"}}
        {{/tmplit}}
        {{#tmplit 'Columns' 'Box Title 2' maxColumns=2 style='background-color:gray' }}
            {{tmplit 'Led' "Input1" style='background-color:darkgray'}}
            {{tmplit 'Led' "Input2" style='background-color:lightgray'}}
        {{/tmplit}}
        {{#tmplit 'Columns' 'Box Title 3' maxColumns=2 side="left" style='background-color:gray' }}
            {{tmplit 'Led' "Input1" style='background-color:darkgray'}}
            {{tmplit 'Led' "Input2" style='background-color:lightgray'}}
        {{/tmplit}}
        {{#tmplit 'Columns' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
            {{tmplit 'Led' "Input3"}}
            {{tmplit 'Led' "Input4"}}
        {{/tmplit}}
        {{tmplit 'Led' "Input1"}}
        {{tmplit 'Led' "Input2"}}
        {{tmplit 'Led' "Input3"}}
        {{tmplit 'Led' "Input4"}}
    {{/tmplit}}

    {{#tmplit 'Columns' columnFlow=1 maxColumns=2}}
        {{#tmplit 'Columns' 'Box Title 1' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
            {{tmplit 'Led' "Input3"}}
            {{tmplit 'Led' "Input4"}}
        {{/tmplit}}
        {{#tmplit 'Columns' 'Box Title 2' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
        {{/tmplit}}
        {{#tmplit 'Columns' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
            {{tmplit 'Led' "Input3"}}
            {{tmplit 'Led' "Input4"}}
        {{/tmplit}}
        {{#tmplit 'Columns' maxColumns=2}}
            {{tmplit 'Led' "Input1"}}
            {{tmplit 'Led' "Input2"}}
            {{tmplit 'Led' "Input3"}}
            {{tmplit 'Led' "Input4"}}
        {{/tmplit}}

{{/tmplit}}

    <h4>columnFlow=1</h4>
    {{#tmplit 'Columns' columnFlow=1}}
    {{tmplit 'Led' "Input1"}}
    {{tmplit 'Led' "Input2"}}
    {{tmplit 'Led' "Input3"}}
    {{tmplit 'Led' "Input4"}}
    {{tmplit 'Led' "Input5"}}
    {{tmplit 'Led' "Input6"}}
    {{/tmplit}}

    <h4>maxColumns=2</h4>
    {{#tmplit 'Columns' maxColumns=2}}
    {{tmplit 'Led' "Input1"}}
    {{tmplit 'Led' "Input2"}}
    {{tmplit 'Led' "Input3"}}
    {{tmplit 'Led' "Input4"}}
    {{tmplit 'Led' "Input5"}}
    {{tmplit 'Led' "Input6"}}
    {{/tmplit}}

    <h4>Column BS</h4>
    {{#tmplit 'ColumnsBs' }}
    {{tmplit 'Led' "Input1"}}
    {{tmplit 'Led' "Input2"}}
    {{tmplit 'Led' "Input3"}}
    {{tmplit 'Led' "Input4"}}
    {{tmplit 'Led' "Input5"}}
    {{tmplit 'Led' "Input6"}}
    {{/tmplit}}
    
    <h3>Create object helper</h3>
    {{obj "{title:'test'}"}}

    <h3>Create object block helper</h3>
    {{#obj "{title:'Torked'}"}}
    <div>{{title}}</div>
    {{/obj}}

    <h3>These should fail:</h3>
    {{tmplit dropdownerror}}
    {{#tmplit dropdownerrorblk}}
        <h3>Child<h3>
    {{/tmplit }}
    {{tmplit 'dropdownerror'}}
    {{#tmplit 'dropdownerrorblk'}}
        <h3>Child<h3>
    {{/tmplit }}    

{{/T}}

