<script id="testData" type="text/x-handlebars-template">
    <div data-read-group="CommsParent">
        <h1>components Read, variables optimized</h1>
        {{W "Numeric" data-var-name="test.myvalue.x"}}
        {{W "Numeric" data-var-name="Page:MyVar.in.command"}}
        {{W "Numeric" data-var-name="Page:MyVar.out.status"}}
        <div data-read-group="CommsChild">
            {{> components}}
        </div>
    </div>
</script>

<script id="testNoData" type="text/x-handlebars-template">
    <div data-read-group="CommsLow">
        <h1>components not read, variables not optimized</h1>
        {{W "PageSelect" "Test No Data" dom="testParent" template="testAddParent"}}
        {{W "Numeric" data-var-name="test.myvalue.x"}}
        {{W "Numeric" data-var-name="test.myvalue.y"}}
        {{W "Numeric" data-var-name="test.myvalue.z[0].e"}}
        {{W "Numeric" data-var-name="Page:MyVar.in.command"}}
        {{W "Numeric" data-var-name="Page:MyVar.out.status"}}
        {{W "Numeric" data-var-name="Page:MyVar.out.a"}}
        <!--Add 100 random variables-->
        {{#repeat 1000}}
            {{W "Numeric" data-var-name= (concat "largeData.out.a" @index) }}
        {{/repeat}}
        <div id="testParent">

        </div>
    </div>
</script>
<script id="testAddParent" type="text/x-handlebars-template">
    <span>Only test should be shown while this div is active</span>
    <div data-read-group="tempParent">
        {{W "Text" data-var-name="largeData"}}
    </div>
</script>

{{W "PageSelect" "Test Data" dom="testDataDom" template="testData"}}
{{W "PageSelect" "Test No Data" dom="testDataDom" template="testNoData"}}
<div id="testDataDom">
{{> testData}}
</div>
{{widget 'Led' data-machine-name="Configuration" data-var-name="demo:test.command" buttonType='toggle' buttonVarName='demo:test.command' }}
