<script id="testData" type="text/x-handlebars-template">
    <div data-read-group="CommsParent">
        <h1>components Read, variables optimized</h1>
        {{W "Numeric" data-var-name="test.myvalue.x"}}
        {{W "Numeric" data-var-name="Page:MyVar.in.command"}}
        {{W "Numeric" data-var-name="Page:MyVar.out.status"}}
        <div data-read-group="CommsChild">
            {{> components}}
        </div>
    </div>
</script>

<script id="testNoData" type="text/x-handlebars-template">
    <div data-read-group="CommsLow">
        <h1>components not read, variables not optimized</h1>
        {{W "Numeric" data-var-name="test.myvalue.x"}}
        {{W "Numeric" data-var-name="Page:MyVar.in.command"}}
        {{W "Numeric" data-var-name="Page:MyVar.out.status"}}
    </div>
</script>

{{W "PageSelect" "Test Data" dom="testDataDom" template="testData"}}
{{W "PageSelect" "Test No Data" dom="testDataDom" template="testNoData"}}
<div id="testDataDom">
{{> testData}}
</div>
